body {
    margin: 12px;
}

header {
text-align: center;
display: inline-block;
background-image: linear-gradient(to bottom right, rgb(171, 136, 236), rgb(14, 18, 243));
width: 100%;
font-size: 80px;
}

#jumbo {
    background-color: rgb(186, 236, 238);
}

.hr1 {
    border: 7px solid rgb(91, 15, 161);
    margin-top: 3px;
}

.col-3 {
    border: rgb(0, 0, 0);
    height: 905px;
    //background-color: rgb(186, 236, 238);    
}

#search-button {
 background-color: cornflowerblue;
 color: black;

}

#search-button:hover {
    transform: scale(1.2);
}

.col-9 {
    border: rgb(0, 0, 0);
    border-width: 1px;
    height: 800px;
}

.card-group {
    margin-left: 15px;
    margin-right: 12px;

}

.card {
    width: 20%;
}

#desc {
    text-transform: uppercase;
}

.favorable {
    background-color: rgb(14, 190, 43);
    width:fit-content;
}

.moderate {
    background-color: yellow;
    width:fit-content;
}

.severe {
    background-color: tomato;
    width: fit-content;
}
